.mosaic{
  height: 100%;
  display: grid;
  grid-auto-flow: dense;
  align-content: center;
  /*grid vertical-align*/
  justify-content: center;
  /*grid horizontal-align*/
  background-size: cover;
  background-repeat: no-repeat;
  /* box-shadow: 0 0 0 4px #fff inset; */
  border: 4px solid #fff;
}

.mosaic div{
  transition: all 1s;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 4px #fff inset;
  outline: 4px #fff solid;
  outline-offset: -4px;
}
.mosaic div:hover,
.mosaic div:active{
  filter: grayscale(1);
}
